<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Kreon:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
  <audio id="bg-music" autoplay loop controls>
    <source src="sounds/sea-shanty.mp3" type="audio/mp3" />
  </audio>
  <table id="player-1">
    <thead>
    </thead>
    <tbody>

    </tbody>
  </table>
  <div id="action-log">

  </div>
  <table id="player-2">
    <thead>

    </thead>
    <tbody>

    </tbody>
  </table>
</body>
</html>