button {
  outline: none;
  width: 100%;
  height: 100%;
  padding: 0.3em 0.5em 0.3em 0.5em;
  border: 0.15em solid lightblue;
  border-radius: 0.5em;
  color: purple;
  background-color: blue;
  box-shadow: 0.15em 0.15em 0.6em 0.15em blue;
  cursor: pointer;
}

button:hover {
  filter: brightness(1.5) contrast(0.9) saturate(1.1);
}

#bg-music {
  animation: shrink 0.2s ease-in-out;
  position: fixed;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 3em;
  min-height: 3em;
  border-radius: 3em;
  margin: 0.5em;
  background-color: red;
  box-shadow: 0.1em 0.1em 0.4em 0.1em black;
}

#bg-music .volume-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 3em;
}

#bg-music .volume-icon * {
  font-size: 1.5em;
  cursor: pointer;
}

#bg-music .slider-container {
  animation: disappear 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  width: 0em;
  height: 3em;
}

#bg-music .slider-container #bg-music-slider {
  display: none;
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  outline: none;
  width: 100%;
  height: 0.5em;
  margin-right: 1em;
  border: 0.1em solid grey;
  box-shadow: inset 0.01em 0.05em 0.1em 0.02em black;
  border-radius: 1em;
  background-color: white;
}

#bg-music .slider-container #bg-music-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 1.2em;
  /* Set a specific slider handle width */
  height: 1.2em;
  /* Slider handle height */
  border: 0.1em solid grey;
  border-radius: 1em;
  background: purple;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

#bg-music .slider-container #bg-music-slider ::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #4CAF50;
  /* Green background */
  cursor: pointer;
}

#bg-music:hover {
  /* Extend to show range slider */
  animation: extend 0.2s ease-in-out;
}

#bg-music:hover .slider-container {
  animation: appear 0.2s ease-in-out;
  width: 6em;
  border-radius: 3em;
}

#bg-music:hover .slider-container #bg-music-slider {
  display: block;
}

@keyframes extend {
  0% {
    width: 3em;
  }
  100% {
    width: 9em;
  }
}

@keyframes shrink {
  0% {
    width: 9em;
  }
  100% {
    width: 3em;
  }
}

@keyframes appear {
  0% {
    width: 0em;
    opacity: 0;
  }
  100% {
    width: 6em;
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    width: 6em;
    opacity: 0;
  }
  100% {
    width: 0em;
    opacity: 1;
  }
}

#stage {
  max-width: 800px;
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#stage > * {
  margin-bottom: 1em;
}

#stage .game-container {
  width: 100%;
  max-height: 480px;
  height: 54vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#stage .game-container .board-container {
  animation: board-shrink 1s ease-in-out 0s;
  width: 40%;
  height: 66.666%;
  background-color: steelblue;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0.2em 0.2em 0.8em 0.2em black;
}

@keyframes board-grow {
  0% {
    width: 40%;
    height: 66.666%;
  }
  100% {
    width: 60%;
    height: 100%;
  }
}

@keyframes board-shrink {
  0% {
    width: 60%;
    height: 100%;
  }
  100% {
    width: 40%;
    height: 66.666%;
  }
}

#stage .game-container .board-container.spotlight {
  z-index: 20;
  animation: board-grow 1s ease-in-out 0s;
  width: 60%;
  height: 100%;
}

#stage .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#stage .buttons button {
  width: 100%;
  height: 100%;
  padding: 0.1em;
}

#stage .buttons button#fire-button {
  color: #FFFFFF;
  background-color: #F31431;
}

#stage .stats {
  background-color: #FFFFFF;
}

div.game-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border: 0.2em solid black;
  border-radius: 0.6em;
  background-color: grey;
}

div.game-board div.axis-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  border-radius: 0.6em;
}

div.game-board div.table-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

div.game-board div.table-body div.row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

div.game-board div.table-body div.row div {
  flex: auto;
  width: 100%;
  height: 100%;
  border: 0.05em solid grey;
  background-color: white;
}

div.game-board div.table-body div.row div.top.left {
  border-radius: 0.5em 0em 0em 0em;
}

div.game-board div.table-body div.row div.top.right {
  border-radius: 0em 0.5em 0em 0em;
}

div.game-board div.table-body div.row div.bottom.left {
  border-radius: 0em 0em 0em 0.5em;
}

div.game-board div.table-body div.row div.bottom.right {
  border-radius: 0em 0em 0.5em 0em;
}

div.spotlight div.game-board div.table-body div.row > * {
  border: 0.1em solid grey;
}

div.spotlight div.game-board div.table-body div.row > *.tuple.hover {
  border: 0.1em solid black;
  background-color: darkgrey;
}

div.spotlight div.game-board div.table-body div.row > *.tuple.selected {
  border: 0.1em solid #ff7676;
  background-color: red;
}

div[data-board].game-board div.table-body div.row div.tuple {
  display: flex;
  justify-content: center;
  align-items: center;
}

div[data-board].game-board div.table-body div.row div.tuple[data-ship-id] {
  background-color: green;
}

div[data-board].game-board div.table-body div.row div.tuple div.missile {
  display: inline-flex;
  height: 70%;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 100%;
}

div[data-board].game-board div.table-body div.row div.tuple div.missile.hit {
  border-color: green;
  background-color: red;
}

div[data-board].game-board div.table-body div.row div.tuple div.missile.miss {
  border-color: black;
  background-color: white;
}

div.ships {
  display: flex;
  flex-direction: row;
}

div.ships .ship {
  display: inline-flex;
  margin: 1em;
  background-color: red;
  cursor: pointer;
}

div.ships .ship .block {
  display: inline-block;
  width: 10px;
  height: 10px;
}

div.ships .ship:hover {
  background-color: skyblue;
}

div.ships .ship.selected {
  background-color: green;
}

main.err-page {
  height: 100%;
  display: flex;
  align-items: center;
}

.err {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background-color: red;
  padding: 0.2rem;
  border-radius: 0.5rem;
  margin: auto;
}

.err > * {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

html {
  height: 90%;
  box-sizing: border-box;
}

body {
  background-color: skyblue;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1000px;
  margin: auto;
}

main .content {
  display: none;
}
