div.game-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border: 0.2em solid black;
  border-radius: 0.6em;
  background-color: grey;
  div.axis-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    border-radius: 0.6em;
  }
  div.table-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    div.row {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      div {
        &.top.left {
          border-radius: 0.5em 0em 0em 0em;
        }
        &.top.right {
          border-radius: 0em 0.5em 0em 0em;
        }
        &.bottom.left {
          border-radius: 0em 0em 0em 0.5em;
        }
        &.bottom.right {
          border-radius: 0em 0em 0.5em 0em;
        }
        flex: auto;
        width: 100%;
        height: 100%;
        border: 0.05em solid grey;
        background-color: white;
      }
    }
  }
}

div[data-board].game-board div.table-body div.row div.tuple {
  display: flex;
  justify-content: center;
  align-items: center;
  &[data-ship-id] {
    background-color: green;
    border-color: black;
    border-style: solid none solid none;
    &:not([data-vertical]) {
      padding-left: 1px;
      padding-right: 1px;
      &.start {
        padding-left: 0em;
        border-left: 0.05em solid;
      }
      &.end {
        padding-right: 0em;
        border-right: 0.05em solid;
      }
    }
    &[data-vertical] {
      border-style: none solid none solid;
      &.start {
        border-top: 0.05em solid;
      }
      &.end {
        border-bottom: 0.05em solid;
      }
    }
  }
  div.missile {
    display: inline-flex;
    height: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 100%;
    &.hit {
      border-color: green;
      background-color: red;
    }
    &.miss {
      border-color: black;
      background-color: white;
    }
  }
}

div.spotlight div.game-board div.table-body {
  
  div.row > * {
    border: 0.1em solid grey;
    &.tuple {
      &.hover {
        border: 0.1em solid black;
        background-color: darkgrey;
      }
      &.selected {
        border: 0.1em solid rgb(255, 118, 118);
        background-color: red;
      }

      &[data-ship-id] {
        background-color: green;
        border-color: black;
        border-style: solid none solid none;
        &:not([data-vertical]) {
          padding-left: 0.1em;
          padding-right: 0.1em;
          &.start {
            padding-left: 0em;
            border-left: 0.1em solid;
          }
          &.end {
            padding-right: 0em;
            border-right: 0.1em solid;
          }
        }
        &[data-vertical] {
          border-style: none solid none solid;
          &.start {
            border-top: 0.1em solid;
          }
          &.end {
            border-bottom: 0.1em solid;
          }
        }
      }
    }
  }
}
