#stage {
  .stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    background-color: #FFFFFF;
    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: stretch;
      margin: 0.5em;
      width: 12.5%;
    }
    .log {
      text-align: left;
      padding: 0.4em;
      margin: 0.5em;
      width: 40%;
      height: 80%;
      overflow-y: auto;
      .message {
        margin: 0.2em;
      }
    }
  }
}