@import 'vars.scss';
@import 'button.scss';
@import 'music-button.scss';
@import 'game-board.scss';
@import 'board.scss';

html {
  height: 90%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $back-clr;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20em;
  margin: auto;

  .content {
    display: none;
  }

}