@import 'vars.scss';
@import 'button.scss';
@import 'music-button.scss';

body {
  background-color: $back-clr;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20em;
  margin: auto;
}