div.ships {
  display: flex;
  flex-direction: row;
  .ship {
    display: inline-flex;
    margin: 1em;
    background-color: red;
    cursor: pointer;
    .block {
      display: inline-block;
      width: 10px;
      height: 10px;
    }
    &:hover {
      background-color: skyblue;
    }
    &.selected {
      background-color: green;
    }
  }
}
