div.ships {
  display: flex;
  flex-direction: row;
  .ship {
    display: inline-flex;
    margin: 1em;
    background-color: red;
    cursor: pointer;
    border-radius: 50% 100% 100% 50%;
    .block {
      display: inline-flex;
      width: 35px;
      height: 35px;
    }
    &:hover {
      background-color: skyblue;
    }
    &.selected {
      background-color: green;
    }
  }
}
